<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <!-- =============================jsp=================================-->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ho</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>db</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/db</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>su</servlet-name>
        <jsp-file>/signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>su</servlet-name>
        <url-pattern>/su</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rpt</servlet-name>
        <jsp-file>/report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>rpt</servlet-name>
        <url-pattern>/rpt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>acc</servlet-name>
        <jsp-file>/account.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>acc</servlet-name>
        <url-pattern>/acc</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>usr</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr</servlet-name>
        <url-pattern>/usr</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    <servlet>
        <servlet-name>fopa</servlet-name>
        <jsp-file>/forgot_password.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fopa</servlet-name>
        <url-pattern>/fopa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>db_a</servlet-name>
        <jsp-file>/dashboard_admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>db_a</servlet-name>
        <url-pattern>/db_a</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usr_a</servlet-name>
        <jsp-file>/user_admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usr_a</servlet-name>
        <url-pattern>/usr_a</url-pattern>
    </servlet-mapping>
    
   
    <servlet>
        <servlet-name>lab</servlet-name>
        <jsp-file>/lab.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>lab</servlet-name>
        <url-pattern>/lab</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sal</servlet-name>
        <jsp-file>/salesman.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sal</servlet-name>
        <url-pattern>/sal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ins</servlet-name>
        <jsp-file>/institusi.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ins</servlet-name>
        <url-pattern>/ins</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>jas</servlet-name>
        <jsp-file>/jasa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jas</servlet-name>
        <url-pattern>/jas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>mjas</servlet-name>
        <jsp-file>/mapping_jasa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mjas</servlet-name>
        <url-pattern>/mjas</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>tuj</servlet-name>
        <jsp-file>/tujuan.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tuj</servlet-name>
        <url-pattern>/tuj</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>wni</servlet-name>
        <jsp-file>/kewarganegaraan.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>wni</servlet-name>
        <url-pattern>/wni</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>bay</servlet-name>
        <jsp-file>/tipepembayaran.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>bay</servlet-name>
        <url-pattern>/bay</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>prodrea</servlet-name>
        <jsp-file>/productreagent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>prodrea</servlet-name>
        <url-pattern>/prodrea</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>reg</servlet-name>
        <jsp-file>/pasien.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>draf</servlet-name>
        <jsp-file>/draft_pasien.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>draf</servlet-name>
        <url-pattern>/draf</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>res</servlet-name>
        <jsp-file>/reservasi_pasien.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>res</servlet-name>
        <url-pattern>/res</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ant</servlet-name>
        <jsp-file>/antrian.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ant</servlet-name>
        <url-pattern>/ant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>pla</servlet-name>
        <jsp-file>/sample_plating.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>pla</servlet-name>
        <url-pattern>/pla</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>met_ins</servlet-name>
        <jsp-file>/metode_instan.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>met_ins</servlet-name>
        <url-pattern>/met_ins</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>met_mes</servlet-name>
        <jsp-file>/metode_mesin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>met_mes</servlet-name>
        <url-pattern>/met_mes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>met_mcu</servlet-name>
        <jsp-file>/metode_mcu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>met_mcu</servlet-name>
        <url-pattern>/met_mcu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>em_has</servlet-name>
        <jsp-file>/email_hasil.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>em_has</servlet-name>
        <url-pattern>/em_has</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>news</servlet-name>
        <jsp-file>/news.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>news</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <!-- ============================servlet==============================-->
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>com.matapos.servlet.FileUploadHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgos</servlet-name>
        <servlet-class>com.matapos.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgos</servlet-name>
        <url-pattern>/lgos</url-pattern>
    </servlet-mapping>
</web-app>